.container {
  background-color: #ffffff;
  margin: 16px;
  padding: 20px;
  border-radius: 16px;
}

.title {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #02542d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
