.header {
  height: 64px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  cursor: default;
  border-bottom: 1px solid #e4e7ec;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
}

.breadcrumbItem {
  color: #667085;
}

.breadcrumbItemActive {
  color: #02542d;
  font-weight: 500;
}

.chevronIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.searchInput {
  max-width: 538px;
  width: 100%;
}
