@import "tailwindcss";

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #E6EEEA;
}

#root {
  background-color: #E6EEEA;
}

/* Global text selection color */
::selection {
  background-color: #02542d;
  color: white;
}

::-moz-selection {
  background-color: #02542d;
  color: white;
}