@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #e6eeea;
}

#root {
  background-color: #e6eeea;
  height: 100%;
}

/* Global text selection color */
::selection {
  background-color: #02542d;
  color: white;
}

::-moz-selection {
  background-color: #02542d;
  color: white;
}
